body{

    background-color:lightgrey;
}

header{

    min-height: 30px;
    text-align: center;
    
}
main{
    
    width:100%;
    heigth:100%;
    text-align: center;
    
}
footer{
    
    width:100%;
    text-align: center;
    float:right;
    
}
h2{

    text-align: center;
    
}

nav{

    

}

p{

   font-style:"Times New Roman", Times, serif;
   font-size: 20px;

}
.s1{

    width:95%%;
    border:2px solid grey;
    background-color: white;
    margin-left:2.5%;
    
}
.s2{

    width:95%%;
    border:2px solid grey;
    background-color: white;
    margin: 2.5% 0 0 2.5%;
    

}
.s3{

    width:95%%;
    border:2px solid grey;
    background-color: white;
    margin: 2.5% 0 0 2.5%;

}



#aChange:link , #aChange:visited{

    display:block;
    background-color:none;
    text-transform: uppercase;
    padding:0.1%;
    text-decoration: none;
    color:black;
    width:50%;
    text-align: center;
    margin-left:25%;

}

.v1{

    border:2px solid grey;
    border-radius:5px;
    background-color:white;


}

.a2:link , .a2:visited{
    
    display:block;
    background-color:darkslategrey;
    text-transform: uppercase;
    padding:0.5%;
    text-decoration: none;
    color:black;
    width:24%;
    text-align: center;
    float:left;
    


}
#hover{

    text-align: center;
    
}


@media screen and (max-width:1000px){

.s1{

    width:100%;
    border:2px solid grey; 
    margin:auto;
}
.s2{

    width:100%;
    border:2px solid grey;
    margin:auto;
    margin-top:5%;
    
}
    
.s3{

    width:100%;
    border:2px solid grey;
    margin:auto;
    margin-top:5%;
    
}
.a2:link , .a2:visited{
    
    display:block;
    background-color:coral;
    text-transform: uppercase;
    padding:0.5%;
    text-decoration: none;
    color:black;
    width:25%;
    min-height: 36px;
    text-align: center;
    float:left;
    


}
    
header{

    min-height: 40px;

}

}